.nav{
    background-color:rgb(246, 245, 245);
    padding-top:50px;
    margin-top:20px;
    text-align:center;
}

.programmers{
    background-color: rgb(255, 255, 255);
    color:rgb(2, 71, 114)

}

li{
    display: inline-block;
    margin: 10px;
}

.btn{
    width:50px;
    display:inline-block;
    height:30px;
    border:0px;
}

.right{
    margin-left:20px;
}

.left{
    margin-right:20px;
}

.active{
    background-color:green;
    color:white;
}

.locked{
    background-color:rgb(255, 255, 255);
    color:rgb(0, 0, 0);
}
.locked:hover{
    background-color:rgb(228, 228, 228);


}

.num{
    color:rgb(0, 0, 0);
    display:inline-block;
}

.total{
    text-align:center;
    color:rgb(0, 0, 0);
}