/* .searchForm {
  background-color: rgb(255, 255, 255);
  padding: 50px 100px;
  margin-bottom: 20px;
  display: flex;
  

} */
.searchForm {
  display: flex;
  width: 50%;
  background-color: rgb(255, 255, 255);
  /* height: 50px; */
  border-radius: 20px;
  margin-top: 1.5%;
  margin-left: 12%;
  margin-bottom: 10px;
}
/* #searchfield {
  font-size: 20px;
  line-height: inherit;
  border-radius: 50px;
  border: 0;
  width: 90%;
} */

/* #searchfield::placeholder {
  padding: 17px;
} */

/* .searchForm:hover {
  border-radius: 10px;
  box-shadow: 4px 3px 8px 1px #969696;
} */
#searchimg {
  margin-top: 4px;
  width: 30px;
  height: 30px;
  
}

.search {
  cursor: pointer;
  color: #000000;
  border: 0px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 7px;
  margin-left: 10px;
  font-size: 20px;
}
/* .search:hover {
  background-color: rgb(255, 255, 255);
} */



.searchQueryList{
  width: 250%;
border-radius: 20px;
  /* box-shadow: 4px 3px 8px 1px #969696; */
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  /* width: 300px; */


}
.searchQueryList__control {
  border: none;
  box-shadow: none;
}

.searchQueryList__menu {
  border: none;

  /* border: 2px solid #ccc; */
  /* border-radius: 5px;
  box-shadow: none; */
}

.searchQueryList__option--is-selected {
  background-color: #ccc;
  color: #fff;
}

.searchQueryList:hover{
  background-color: rgb(255, 255, 255);
  box-shadow: 4px 3px 8px 1px #969696;


}